body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #554373;

}

#board {

    background-color: rgb(177, 149, 255);
    background-image: url("./fabird.png");
}